* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Ubuntu", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

/* ==========
  TYPOGRAPHY 
========== */

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774;
}

h1 {
  margin: 0;
}

a {
  color: #1792d2;
}

a:hover,
a:focus {
  color: #143774;
}

strong {
  font-weight: 700;
}

/* H2 */
.sidebar-titles {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* H1 SUBTITLE */
.subtitle {
  font-size: 0.75rem;
  font-weight: 700;
  color: #1792d2;
  margin: 0;
  text-transform: uppercase;
}

.article-info,
.continue-reading {
  font-size: 0.875rem;
}

.continue-reading {
  color: #1792d2;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.continue-reading:hover,
.continue-reading:focus {
  color: #143774;
  text-decoration: underline;
}

.footer-text {
  font-weight: 700;
  margin: 0;
}

.copy {
  margin: 0;
}

/* ==========
  LAYOUT
========== */

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
}

header {
  padding: 2em 0;
  text-align: center;
  background-color: gainsboro;
}

main {
  margin: 3em 0;
}

.side-article {
  margin-top: 3em;
}

.side-article-text h2 {
  margin: 0;
}

.big-border {
  padding: 1.5em;
  margin-top: 2.8125em;
  border: 1.25em solid #ebebeb;
}

.big-border h2 {
  margin-top: 0;
}

.post + .post {
  margin-top: 1.5em;
}

.border-bottom-separator {
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(112, 112, 112, 0.5);
}

footer {
  text-align: center;
  color: white;
  background-color: #143774;
  padding: 2em 0;
}

/* NAVIGATION */

nav ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  margin-top: 2em;
  padding: 0;
}

nav a {
  color: #707070;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: #143774;
}

.current-page {
  border-bottom: 1.5px solid #707070;
}

.current-page:hover {
  color: #707070;
}

/* ==========
  MEDIA QUERIES
========== */

@media (min-width: 675px) {
}
