* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  text-align: justify;
}

/* ==========
  LAYOUT
========== */

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

.container-articles {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

header {
  padding: 3em 0;
  background-color: gainsboro;
}

main {
  margin: 4em 0;
}

img {
  width: 100%;
}

.main-content {
  width: 75%;
}

.side-article {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.side-article-img-container {
  width: 35%;
}

.side-article-text {
  width: 60%;
}

.side-article-text h2 {
  margin: 0;
}

.side-bar {
  width: 20%;
}

.big-border {
  padding: 1.5em;
  border: 1.25em solid #ebebeb;
}

.big-border h2 {
  margin-top: 0;
}

.recent-posts {
  margin-top: 2.8125em;
}

.post + .post {
  margin-top: 1.5em;
}

.border-bottom-separator {
  border-bottom: 1px solid rgba(112, 112, 112, 0.5);
  padding-bottom: 0.5em;
}

footer {
  text-align: center;
  color: white;
  background-color: #143774;
  padding: 2em 0;
}

/* NAVIGATION */

nav ul {
  display: flex;
  gap: 3em;
  list-style: none;
  padding: 0;
}

nav a {
  color: #707070;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: #143774;
}

.current-page {
  border-bottom: 1.5px solid #707070;
}

.current-page:hover {
  color: #707070;
}

/* ==========
  TYPOGRAPHY 
========== */

h1 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774;
  margin: 0;
}

h2 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774;
}

h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774;
}

/* H2 */
.side-bar-titles {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.article-text {
  font-size: 1.125rem;
  font-weight: 400;
}

/* PAGE SUBTITLE */
.subtitle {
  font-size: 0.75rem;
  font-weight: 700;
  color: #1792d2;
  margin: 0;
  text-transform: uppercase;
}

.date {
  font-size: 0.875rem;
  color: #707070;
}

.continue-reading {
  font-size: 0.875rem;
  font-weight: 700;
  color: #1792d2;
  text-transform: uppercase;
}

.footer-text {
  font-weight: 700;
  margin: 0;
}

.copy {
  margin: 0;
}

/* ==========
  MEDIA QUERIES
========== */

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }

  .site-title {
    margin-bottom: 1em;
  }

  header {
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }
}
