* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Ubuntu", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

/* ==========
  TYPOGRAPHY 
========== */

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774;
  margin-top: 0;
}

h1 {
  margin: 0;
}

a {
  color: #1792d2;
}

strong {
  font-weight: 700;
}

/* H2 */
.sidebar-titles {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* H1 SUBTITLE */
.subtitle {
  font-size: 0.75rem;
  font-weight: 700;
  color: #1792d2;
  margin: 0;
  text-transform: uppercase;
}

.article-info,
.continue-reading {
  font-size: 0.875rem;
}

.continue-reading {
  color: #1792d2;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.small {
  font-size: 0.75rem;
  margin: 0;
}

/* ==========
  LAYOUT
========== */

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
}

header {
  padding: 2em 0;
  text-align: center;
  background-color: gainsboro;
}

main {
  margin: 3em 0;
}

footer {
  text-align: center;
  color: grey;
  background-color: #143774;
  padding: 1.5em 0;
}

.border-bottom-separator {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(112, 112, 112, 0.5);
}

/* NAVIGATION */

nav ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  margin-top: 2em;
  margin-bottom: 0;
  padding: 0;
}

nav a {
  color: #707070;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.25em 0;
}

.current-page {
  border-bottom: 1.5px solid #707070;
}

/* ARTICLES */

.side-article {
  display: flex;
  flex-direction: column-reverse;
  margin: 2.5em 0;
}

/* SIDEBAR */

.big-border {
  padding: 1.5em;
  border: 20px solid #ebebeb;
}

.recent-posts {
  margin-top: 2.5em;
}

.post {
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;
  margin-top: 2em;
}

/* ==========
  MEDIA QUERIES
========== */

@media (min-width: 675px) {
  .container-flex {
    flex-direction: row;
    justify-content: space-between;
  }

  header {
    text-align: left;
  }

  nav ul {
    flex-direction: row;
    margin: 0;
  }

  .main-content {
    width: 70%;
  }

  .side-article {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .side-article-text {
    width: 70%;
  }

  .side-article-img-container {
    width: 25%;
  }

  .side-article-img-container img {
    min-height: 250px;
    object-fit: cover;
  }

  .sidebar {
    width: 25%;
    min-width: 225px;
    margin-left: 1em;
  }

  .sidebar .about-me {
    margin: 0;
  }
}

@media (hover: hover) {
  nav a:hover,
  nav a:focus {
    color: #143774;
  }

  .current-page:hover {
    color: #707070;
  }

  a:hover,
  a:focus {
    color: #143774;
  }

  a.github:focus-visible {
    outline: none;
  }

  .continue-reading:hover,
  .continue-reading:focus {
    color: #143774;
    text-decoration: underline;
  }

  a.github:focus-visible .g-github {
    fill: #ff4b00;
  }

  svg.github:hover .g-github {
    fill: white;
  }

  .small:hover {
    color: white;
  }

  .small:hover .g-heart {
    fill: #ff4b00;
  }

  .small:hover .svg-heart {
    animation: heart-beat 0.5s linear forwards infinite alternate;
  }

  @keyframes heart-beat {
    100% {
      transform: scale(1.25);
    }
  }
}
